.address-information,
.card-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shipping,
.card {
  width: 306px;
  display: flex;
  flex-direction: column;
}

.names {
  display: flex;
}

.new-profile-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.close-modal {
  background-color: transparent;
  border: none;
}

.modal-info {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: flex-start;
}

.new-profile-header,
.close-modal {
  color: white;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.profile-input {
  border: 1px solid #3e3f46;
  background: #1e2227;
  padding: 6px 0px 6px 30px;
  margin: 3px;
  color: #ffffff;
  height: 15px;
  width: 180px;
  font-size: 11.5px;
  font-weight: 500;
}
.profile-input:focus {
  outline: none;
}

.bottom-section {
  display: flex;
  flex-direction: column;
}

.bottom-section button {
  background-color: rgb(83, 4, 255);
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 3px;
  height: 20px;
  width: 90px;
  margin: 5px;
}

#add-profile-heading-one {
  margin: 0px;
}
