.address-information,
.card-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shipping,
.card {
  width: 306px;
  display: flex;
  flex-direction: column;
}

.names {
  display: flex;
}

.new-profile-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.close-modal {
  background-color: transparent;
  border: none;
}

.modal-info {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.new-profile-header {
  color: white;
}
