.dashboard {
  background-color: #1a1c21;
  padding: 30px;
  color: #ffffff;
}

.signed-in-user {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.down {
  height: 15px;
}

.drop-down {
  padding: 7px 13px 5px 13px;
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #63666d;
  border-radius: 6px;
}

.username {
  color: rgb(255, 255, 255);
}

.main-feed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.username,
.id {
  margin: 0;
}

.pfp img {
  width: 40px; /* width of container */
  height: 40px; /* height of container */
  object-fit: cover;
  border-radius: 100%;
}

.history {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  align-self: flex-start;
}

.selectors {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.select_box {
  width: 110px;
  overflow: hidden;
  border: 1px solid #63666d;
  position: relative;
  background-color: #1e2227;
  padding: 3px 5px;
  border-radius: 4px;
  height: 50%;
}
.select_box:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #63666d;
  position: absolute;
  top: 40%;
  right: 15px;
  content: "";
  z-index: 98;
}
.select_box select {
  width: 220px;
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
  color: #63666d;
  outline: none;
  font-family: inherit;
}

.select_box + .date {
  width: 65px;
}

.checkout-feed h1 {
  text-align: left;
  margin: 0 0 20px 0;
}

.checkout-feed {
  width: 35%;
}

.success-feed {
  overflow-y: scroll;
  height: 550px;
  border-radius: 6px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(83, 4, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(83, 4, 255);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.checkouts {
  display: flex;
  flex-direction: column;
}

.number-perc {
  display: flex;
  align-items: center;
}

.stat-number {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 0 8px 0 0;
}

.perc-diff {
  font-size: 15px;
}

.pos {
  color: rgb(156, 233, 156);
}

.neg {
  color: rgb(255, 115, 115);
}

.stat-title {
  font-size: 13px;
  margin: 10px 0px 5px 0px;
}

.compared {
  margin: 5px 0 0 0;
  font-size: 13px;
}

#dollar {
  font-size: 14px;
}

.align-symbol {
  position: relative;
  display: inline-block;
  padding-left: 12px;
}

.align-symbol span {
  position: absolute;
  top: 0px;
  left: 0px;
}

.update-button {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.update-button h3 {
  font-size: 17px;
  color: #9e9fa4;
}

.update-button button {
  background-color: rgb(83, 4, 255);
  color: rgb(255, 255, 255);
  border: none;
  padding: 9px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 13px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.previous-updates {
  background-color: #1e2227;
  width: 470px;
  height: 111px;
  border-radius: 6px;
  padding: 4px 10px 10px 10px;
  overflow-y: auto;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.update-text {
  color: #9e9fa4;
}

.log-version {
  color: rgb(228, 233, 156);
  margin: 0 10px 0 0;
}

.cur {
  color: rgb(156, 233, 156) !important;
}

.date {
  margin: 0 15px 0 0;
  font-style: italic;
}
