.dashboard {
  background-color: #1a1c21;
  width: 80%;
  padding: 30px;
  color: #ffffff;
}

.signed-in-user {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.down {
  height: 15px;
}

.drop-down {
  padding: 7px 13px 5px 13px;
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #63666d;
  border-radius: 6px;
}

.username {
  color: rgb(255, 255, 255);
}

.main-feed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.username,
.id {
  margin: 0;
}

.pfp img {
  width: 40px; /* width of container */
  height: 40px; /* height of container */
  object-fit: cover;
  border-radius: 100%;
}

.history {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: space-between;
  align-self: flex-start;
}

.selectors {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.select_box {
  width: 110px;
  overflow: hidden;
  border: 1px solid #63666d;
  position: relative;
  background-color: #1e2227;
  padding: 3px 5px;
  border-radius: 4px;
  height: 50%;
}
.select_box:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #63666d;
  position: absolute;
  top: 40%;
  right: 15px;
  content: "";
  z-index: 98;
}
.select_box select {
  width: 220px;
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
  color: #63666d;
  outline: none;
  font-family: inherit;
}

.select_box + .date {
  width: 65px;
}

.checkout-feed h1 {
  text-align: left;
  margin: 0 0 20px 0;
}

.checkout-feed {
  width: 35%;
}

.success-feed {
  overflow-y: scroll;
  height: 530px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(83, 4, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(83, 4, 255);
}
