html,
body,
#root {
  height: 100%;
  overflow: hidden;
  width: 100.5%;
}

#root {
  display: flex;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
