.side-nav {
  display: flex;
  flex-direction: column;
  background-color: #1e2128;
  width: 20%;
  padding: 1em;
  color: white;
  height: 100%;
}

.side-nav a {
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0 20px 0;
  text-decoration: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.active {
  color: rgb(255, 255, 255);
}

.logo {
  width: 60%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
